name: Security Gate

on:
  pull_request:
  push:
    branches: [main]

jobs:
  security-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Semgrep (10 custom rules)
        uses: semgrep/semgrep-action@v1
        with:
          config: >-
            https://raw.githubusercontent.com/meenukumari7298-ops/Security-Gate-Demo/main/semgrep-rules.yaml

      - name: Run Gitleaks (with token)
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: semgrep.sarif
